
			<footer class="footer">
				<div class="container-fluid">
					<nav class="pull-left">
						<ul class="nav">
							<li class="nav-item">
                                <a class="nav-link" 
                                   target="_blank" 
                                   href="https://github.com/serpaldom">
									Ryuk - Empower your SOC's Management
								</a>
							</li>
						</ul>
					</nav>
					<div class="copyright ml-auto">
                        &copy; <a target="_blank" href="#">Ryuk</a> 
                        - developed by <a target="_blank" href="https://github.com/serpaldom">Serpaldom</a>
					</div>				
				</div>
            </footer>
            