		<!-- Sidebar -->
		<div class="sidebar sidebar-style-2" data-background-color="dark2">	
			<div class="sidebar-wrapper scrollbar scrollbar-inner">
				<div class="sidebar-content">

				{% if request.user.is_authenticated %}	
					<div class="user">
						<div class="avatar-sm float-left mr-2">
							<img src="/static/assets/img/avatar.svg" alt="..." class="avatar-img rounded-circle">
						</div>
						<div class="info">
							<a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
								<span>
									{{ request.user.username }}
									<span class="user-level">
										{{ request.user.email }}
									</span>
									<span class="caret"></span>
								</span>
							</a>
							<div class="clearfix"></div>

							<div class="collapse in" id="collapseExample">
								<ul class="nav">
									<li>
										<a href="/profile.html">
											<span class="link-collapse">My Profile</span>
										</a>
									</li>
									<li>
										<a href="{% url 'logout' %}">
											<span class="link-collapse">Logout</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<ul class="nav nav-primary">
						<li class="nav-item {% if 'index' in segment %} active {% endif %}">
							<a data-toggle="collapse" href="#dashboard" class="collapsed" aria-expanded="false">
								<i class="fas fa-home"></i>
								<p>Dashboard</p>
								<span class="caret"></span>
							</a>
							<div class="collapse" id="dashboard">
								<ul class="nav nav-collapse">
									<li>
										<a href="/index.html">
											<span class="sub-item">Dashboard</span>
										</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="nav-section">
							<span class="sidebar-mini-icon">
								<i class="fa fa-ellipsis-h"></i>
							</span>
							<h4 class="text-section">Data</h4>
						</li>
						<li class="nav-item {% if 'tables-customers' in segment %} active {% endif %}">
							<a  href="/tables-customers.html">
								<i class="fas fa-building"></i>
								<p>Customers</p>
							</a>
						</li>
						<li class="nav-item {% if 'tables-detection_systems' in segment %} active {% endif %}">
							<a  href="/tables-detection_systems.html">
								<i class="far fa-eye"></i>
								<p>Detection Systems</p>
							</a>
						</li>
						<li class="nav-item {% if 'tables-rules' in segment %} active {% endif %}">
							<a  href="/tables-rules.html">
								<i class="fas fa-ruler"></i>
								<p>Rules</p>
							</a>
						</li>
						
						
						<li class="nav-item {% if 'tables-watchers' in segment %} active {% endif %}">
							<a  href="/tables-watchers.html">
								<i class="fas fa-glasses"></i>
								<p>Watchers</p>
							</a>
						</li>
						<li class="nav-item {% if 'tables-reports' in segment %} active {% endif %}">
							<a  href="/tables-reports.html">
								<i class="fas fa-receipt"></i>
								<p>Reports</p>
							</a>
						</li>
					</ul>
				{% else %}
					<ul class="nav nav-primary">
						<li class="mx-4 mt-2">
                            <a target="_blank"
                               href="https://appseed.us/support/" 
                               class="btn btn-danger btn-block">
                                <span class="btn-label mr-2"> <i class="fa fa-rocket"></i> </span>Support</a> 
						</li>
					</ul>
				{% endif %}	
				</div>
			</div>
		</div>
        <!-- End Sidebar -->
        