{% extends "layouts/base.html" %}

{% block title %} Page Blank {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<div class="content">
		<div class="page-inner">
			<div class="page-header">
				<h4 class="page-title">Rule Details</h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="/index.html">
							<i class="flaticon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="/index.html">Data</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="/index.html">Rules & Exceptions</a>
					</li>
					<li class="nav-item">
						<a href="/tables-rules.html">Rules</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">Rule Details</a>
					</li>
				</ul>
			</div>
			<div class ="row">
				<div class="col-md-12 animate__animated animate__fadeIn">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Details</h4>
							<div class="d-flex justify-content-end align-items-center">
								{% if user.is_staff %}
									<a type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit" href="/admin/home/rule/{{rule_details.id}}/change/">
										<i class="fa fa-edit"></i>
									</a>
									<a type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg btn-warning " data-original-title="Back" href="/tables-rules.html">
										<i class="icon-arrow-left"></i>
									</a>
								{% endif %}
							</div>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label">ID</label>
										<p class="form-control-static">{{ rule_details.id }}</p>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label">Name</label>
										<p class="form-control-static">{{ rule_details.name }}</p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label">Severity</label>
										<p class="form-control-static">{{ rule_details.severity }}</p>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label">Mitre Tactics</label>
										<p class="form-control-static">{{ rule_details.mitre_tactics|join:", " }}</p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label">Mitre Techniques</label>
										<p class="form-control-static">{{ rule_details.mitre_techniques|join:", " }}</p>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label">Technologies</label>
										<p class="form-control-static">{{ rule_details.technologies|join:", " }}</p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label">Tags</label>
										<p class="form-control-static">{{ rule_details.tags|join:", " }}</p>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label">Detection Systems</label>
										<p class="form-control-static">{{ rule_details.detection_systems|join:", " }}</p>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label">Created By</label>
										<p class="form-control-static">{{ rule_details.created_by }}</p>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label class="control-label">Created At (UTC)</label>
										<p class="form-control-static">{{ rule_details.created_at }}</p>
									</div>
								</div>
							</div>
							
							
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 animate__animated animate__fadeIn">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Rule Exceptions ({{exceptions.count}})</h4>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table id="multi-filter-search" class="display table table-striped table-hover">
									<thead>
										<tr>
											<th>ID</th>
											<th>Detection Systems</th>
											<th>Customers</th>
											<th>Artifacts</th>
											<th>Description</th>
											<th>Expiration At</th>
											<th>Created By</th>
											<th>Created At</th>
											{% if user.is_staff or user.is_superuser %}
											<th>Action</th>
											{% endif %}
										</tr>
									</thead>
									<tfoot>
										<tr>
											<th>ID</th>
											<th>Detection Systems</th>
											<th>Customers</th>
											<th>Artifacts</th>
											<th>Description</th>
											<th>Expiration At</th>
											<th>Created By</th>
											<th>Created At</th>
										</tr>
									</tfoot>
									<tbody>
										{% for exception in exceptions %}
										<tr>
											<td>{{ exception.id }}</td>
											<td>{{ exception.detection_system.all|join:", " }}</td>
											<td>{{ exception.customers.all|join:", "}}</td>
											<td>{{ exception.artifact }}</td>
											<td>{{ exception.description }}</td>
											<td>{{ exception.expiration_at }}</td>
											<td>{{ exception.created_by }}</td>
											<td>{{ exception.created_at }}</td>
											{% if user.is_staff %}
											<td>
												<div class="form-button-action">
													<a type="button" data-toggle="tooltip" title="Edit" class="btn btn-link btn-primary btn-lg" href="{% url 'admin:home_exceptions_change' exception.id %}">
														<i class="fa fa-edit"></i>
													</a>
													<a type="button" data-toggle="tooltip" title="Remove" class="btn btn-link btn-danger" href="{% url 'admin:home_exceptions_delete' exception.id %}">
														<i class="fa fa-times"></i>
													</a>
												</div>
											</td>
											{% endif %}
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>

					</div>
					<div class="card p-3">
						<div class="d-flex">
							<div>
								<h5 class="mb-1"><b>Tip: </b><small class="text-muted">You can combine searches by using filters on different columns. Additionally, you can concatenate searches within the same column using the OR operator represented by the character '|'. This allows you to perform more advanced and flexible searches on the table.</small></h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->

{% block javascripts %}

	
	
	<script>
		$(document).ready(function() {
			$('#basic-datatables').DataTable({
			});
			
			// Setup - add a text input to each footer cell
			$('#multi-filter-search tfoot th').each(function () {
				var title = $(this).text();
				$(this).html('<input type="text" class="form-control" placeholder="Search ' + title + '" /><p></p>');
			});

			// DataTable
			var table = $('#multi-filter-search').DataTable({
				
				initComplete: function (){
					var r = $('#multi-filter-search tfoot tr');
					r.find('th').each(function(){
						$(this).css('padding', 8);
					});
					$('#multi-filter-search thead').append(r);
					$('#search_0').css('text-align', 'center');
				},
				"aLengthMenu": [
					[5, 10, 25, 50, 100, 200, -1],
					[5, 10, 25, 50, 100, 200, "All"]
				],
				"iDisplayLength": 5
			});

			// To add filters like | -> "OR" for columns except the last one
			table.columns(':not(:last-child)').eq(0).each(function (colIdx) {
				$('input', table.column(colIdx).footer()).on('keyup change', function () {
				table.column(colIdx)
					.search(this.value.replace(/;/g, "|"), true, false)
					.draw();
				});
			});

			$('#multi-filter-select').DataTable( {
				"pageLength": 5,
				initComplete: function () {
					this.api().columns().every( function () {
						var column = this;
						var select = $('<select class="form-control"><option value=""></option></select>')
						.appendTo( $(column.footer()).empty() )
						.on( 'change', function () {
							var val = $.fn.dataTable.util.escapeRegex(
								$(this).val()
								);

							column
							.search( val ? '^'+val+'$' : '', true, false )
							.draw();
						} );

						column.data().unique().sort().each( function ( d, j ) {
							select.append( '<option value="'+d+'">'+d+'</option>' )
						} );
					} );
				}
			});

			// Add Row
			$('#add-row').DataTable({
				"pageLength": 5,
			});

			var action = '<td> <div class="form-button-action"> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';

			$('#addRowButton').click(function() {
				$('#add-row').dataTable().fnAddData([
					$("#addName").val(),
					$("#addPosition").val(),
					$("#addOffice").val(),
					action
					]);
				$('#addRowModal').modal('hide');

			});
		});
	</script>
	<script>
		const exportBtn = document.getElementById("export-btn");
		const exportUrl = "export/rules";
	
		exportBtn.addEventListener("click", () => {
			window.location.href = exportUrl;
		});
	</script>

{% endblock javascripts %}

