{% extends "layouts/base.html" %}

{% block title %} Customers {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<div class="content">
		<div class="page-inner">
			<div class="page-header">
				<h4 class="page-title">Rules</h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="#">
							<i class="flaticon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">Tables</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">Rules</a>
					</li>
				</ul>
			</div>
			<div class="row">
				<div class="col-md-12 animate__animated animate__fadeIn">
					<div class="card full-height">
						<div class="card-header">
							<h4 class="card-title">Total Rules List</h4>
							<div class="d-flex justify-content-end">
								<button id="export-btn" href="#" class="btn btn-info btn-border btn-round btn-sm mr-2">
									<span class="btn-label">
										<i class="fa fa-pencil"></i>
									</span>
									Export
								</button>
							</div>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table id="multi-filter-search" class="display table table-striped table-hover">
									<thead>
										<tr>
											<th>ID</th>
											<th>Name</th>
											<th>Severity</th>
											<th>Mitre Tactics</th>
											<th>Mitre Techniques</th>
											<th>Technologies</th>
											<th>Tags</th>
											<th>Detection Systems</th>
											<th>Created By</th>
											<th>Created At (UTC)</th>
											{% if user.is_staff %}
											<th>Action</th>
											{% endif %}
										</tr>
									</thead>
									<tfoot>
										<tr>
											<th>ID</th>
											<th>Name</th>
											<th>Severity</th>
											<th>Mitre Tactics</th>
											<th>Mitre Techniques</th>
											<th>Technologies</th>
											<th>Tags</th>
											<th>Detection Systems</th>
											<th>Created By</th>
											<th>Created At (UTC)</th>
										</tr>
									</tfoot>
									<tbody>
										{% for rule in rules %}
										<tr>
											<td>{{ rule.id }}</td>
											<td>{{ rule.name }}</td>
											<td>{{ rule.severity }}</td>
											{% if rule.mitre_tactics.count < 3  %}
												<td>{{ rule.mitre_tactics.all|join:", " }}</td>
											{% elif rule.mitre_tactics.count >= 3 %}
											<td>
												{% for tactic in rule.mitre_tactics.all %}
													{{ tactic }}<br>
												{% endfor %}
											</td>
											{% else %}
												<td>None</td>
											{% endif %}

											{% if rule.mitre_techniques.count < 3 %}
												<td>{{ rule.mitre_techniques.all|join:", " }}</td>
											{% elif rule.mitre_techniques.count >= 3 %}
											<td>
												{% for technique in rule.mitre_techniques %}
												{{ technique }}<br>
												{% endfor %}
											</td>
											{%else%}
												<td>None</td>
											{% endif %}
											<td>{{rule.technologies.all|join:", "}}</td>
											<td>{{rule.tags.all|join:", "}}</td>
											<td>{{rule.detection_systems.all|join:", "}}</td>
											<td>{{ rule.created_by }}</td>
											<td>{{ rule.created_at }}</td>
											{% if user.is_staff %}
											<td>
												<div class="form-button-action">
													<a type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit" href="/admin/home/rule/{{rule.id}}/change/">
														<i class="fa fa-edit"></i>
													</a>
													<a type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove" href="/admin/home/rule/{{rule.id}}/change/">
														<i class="fa fa-times"></i>
													</a>
												</div>
											</td>
											{% endif %}
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="/static/assets/js/setting-demo2.js"></script>
	<script>
		$(document).ready(function() {
			$('#basic-datatables').DataTable({
			});
			
			// Setup - add a text input to each footer cell
			$('#multi-filter-search tfoot th').each(function () {
				var title = $(this).text();
				$(this).html('<input type="text" class="form-control" placeholder="Search ' + title + '" /><p></p>');
			});

			// DataTable
			var table = $('#multi-filter-search').DataTable({
				
				initComplete: function (){
					var r = $('#multi-filter-search tfoot tr');
					r.find('th').each(function(){
						$(this).css('padding', 8);
					});
					$('#multi-filter-search thead').append(r);
					$('#search_0').css('text-align', 'center');
				},
				"aLengthMenu": [
					[5, 10, 25, 50, 100, 200, -1],
					[5, 10, 25, 50, 100, 200, "All"]
				],
				"iDisplayLength": 5
			});

			// To add filters like | -> "OR" for columns except the last one
			table.columns(':not(:last-child)').eq(0).each(function (colIdx) {
				$('input', table.column(colIdx).footer()).on('keyup change', function () {
				table.column(colIdx)
					.search(this.value.replace(/;/g, "|"), true, false)
					.draw();
				});
			});

			$('#multi-filter-select').DataTable( {
				"pageLength": 5,
				initComplete: function () {
					this.api().columns().every( function () {
						var column = this;
						var select = $('<select class="form-control"><option value=""></option></select>')
						.appendTo( $(column.footer()).empty() )
						.on( 'change', function () {
							var val = $.fn.dataTable.util.escapeRegex(
								$(this).val()
								);

							column
							.search( val ? '^'+val+'$' : '', true, false )
							.draw();
						} );

						column.data().unique().sort().each( function ( d, j ) {
							select.append( '<option value="'+d+'">'+d+'</option>' )
						} );
					} );
				}
			});

			// Add Row
			$('#add-row').DataTable({
				"pageLength": 5,
			});

			var action = '<td> <div class="form-button-action"> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';

			$('#addRowButton').click(function() {
				$('#add-row').dataTable().fnAddData([
					$("#addName").val(),
					$("#addPosition").val(),
					$("#addOffice").val(),
					action
					]);
				$('#addRowModal').modal('hide');

			});
		});
	</script>
	<script>
		const exportBtn = document.getElementById("export-btn");
		const exportUrl = "export/rules";
	
		exportBtn.addEventListener("click", () => {
			window.location.href = exportUrl;
		});
	</script>

{% endblock javascripts %}
